In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
#import USERNAME and password for pos
from pw import USERNAME, PW
#engine = create_engine('postgresql+psycopg2://postgres:postgres@127.0.0.1:60819/ph_db')


engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/ph1_db')

In [3]:
conn = engine.connect()

In [4]:
titles = pd.read_sql("SELECT * FROM titles", conn)

salaries = pd.read_sql("SELECT * FROM salaries", conn)


salaries

        emp_no  salary   from_date     to_date
0        10001   60117  1986-06-26  1987-06-26
1        10002   65828  1996-08-03  1997-08-03
2        10003   40006  1995-12-03  1996-12-02
3        10004   40054  1986-12-01  1987-12-01
4        10005   78228  1989-09-12  1990-09-12
5        10006   40000  1990-08-05  1991-08-05
6        10007   56724  1989-02-10  1990-02-10
7        10008   46671  1998-03-11  1999-03-11
8        10009   60929  1985-02-18  1986-02-18
9        10010   72488  1996-11-24  1997-11-24
10       10011   42365  1990-01-22  1991-01-22
11       10012   40000  1992-12-18  1993-12-18
12       10013   40000  1985-10-20  1986-10-20
13       10014   46168  1993-12-29  1994-12-29
14       10015   40000  1992-09-19  1993-08-22
15       10016   70889  1998-02-11  1999-02-11
16       10017   71380  1993-08-03  1994-08-03
17       10018   55881  1987-04-03  1988-04-02
18       10019   44276  1999-04-30  2000-04-29
19       10020   40000  1997-12-30  1998-12-30
20       10021   55025  1988-02-10  1989-02-09
21       10022   40000  1999-09-03  2000-09-02
22       10023   47883  1999-09-27  2000-09-26
23       10024   83733  1998-06-14  1999-06-14
24       10025   40000  1987-08-17  1988-08-16
25       10026   47585  1995-03-20  1996-03-19
26       10027   40000  1995-04-02  1996-04-01
27       10028   48859  1991-10-22  1992-10-21
28       10029   63163  1991-09-18  1992-09-17
29       10030   66956  1994-02-17  1995-02-17
...        ...     ...         ...         ...
299994  499970   99187  1995-01-09  1996-01-09
299995  499971   41007  1997-03-05  1998-03-05
299996  499972   41002  1989-11-23  1990-11-23
299997  499973   40000  1994-02-01  1995-02-01
299998  499974   40000  1996-12-11  1997-12-11
299999  499975   40000  1995-11-21  1996-11-20
300000  499976   81721  1988-12-26  1989-12-26
300001  499977   70216  1999-12-28  2000-12-27
300002  499978   40000  1996-07-09  1997-07-09
300003  499979   47933  1996-08-29  1997-08-29
300004  499980   90395  1991-02-11  1992-02-11
300005  499981   42720  1991-03-07  1992-03-06
300006  499982   40000  1999-04-08  2000-04-07
300007  499983   40000  1995-07-15  1996-07-14
300008  499984   40000  1989-07-30  1990-07-30
300009  499985   40000  1997-02-11  1998-02-11
300010  499986   91988  1985-08-11  1986-08-11
300011  499987   52282  1999-12-21  2000-12-19
300012  499988   74890  1988-07-25  1989-07-25
300013  499989   64183  1996-10-29  1997-10-29
300014  499990   40000  1999-10-28  2000-10-27
300015  499991   43612  1997-02-11  1998-02-11
300016  499992   43005  1987-05-10  1988-05-09
300017  499993   40000  1997-04-07  1998-04-07
300018  499994   40000  1993-02-22  1993-10-27
300019  499995   40000  1997-06-02  1998-06-02
300020  499996   58058  1996-05-13  1997-05-13
300021  499997   49597  1987-08-30  1988-08-29
300022  499998   40000  1993-12-27  1994-12-27
300023  499999   63707  1997-11-30  1998-11-30

[300024 rows x 4 columns]